@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
.App {
  
  text-align: center;
  z-index: 100;
  padding-top: 2%;
  padding-bottom: 0%;
}

#app {
  animation: fadein ease-out 1.4s;
}
#background {
  /* background: url('http://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg'); */
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); */
  /* filter: blur(5px); */
  background-size: cover !important;
  /* background: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%), url("https://images.unsplash.com/photo-1558981806-ec527fa84c39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80") no-repeat center;  */
background: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-repeat: no-repeat !important;

  /* min-height: calc(100vh - 10px) */
}

.react-autosuggest__container {
  position: relative;
  display: inline-block;
  margin-top: -10px;
}

.react-autosuggest__input {
  width: 400px;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  /* border: 1px solid rgba(0, 126, 255, 0.24); */
  border: none;
  border-bottom: 3px solid white;
  background-repeat: no-repeat;

  /* border-radius: 4px; */
  color:white;
  font-weight: bold;
  background-color:transparent;
  /* border-radius: 1rem; */
}

.react-autosuggest__input::placeholder {
  color: #777;
  opacity: 1;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  position: absolute;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  width: 500px;
  border: 1px solid #eee;
  height: 200px;
  overflow:scroll;
  z-index: 100;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #eee;
  width: 500px;
  white-space: nowrap;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 80%;
}

.shortCode {
  background-color: #4696ec;
  color: #fff;
  padding: 4px;
  border-radius: 2px;
}

.highlight {
  background-color: yellow; 
  padding: 4px;
  border-radius: 2px;
}
.logo{
  color: gold;
  font-family: 'Crete Round', serif;
}
.footer p{   
  flex-shrink: 0; 
  text-align: center !important;
}